---
import Education from "../components/Education.astro";
import HeroCard from "../components/HeroCard.astro";
import HeroHeading from "../components/HeroHeading.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="container">
    <main>
      <HeroCard />
      <div id="content">
        <HeroHeading />
        <section id="about">
          <h2>O mně</h2>
          <p>
            Jsem sudent IT s dlouhodobým zájmem o webový vývoj, který sahá až do
            roku 2018.
          </p>
        </section>
        <Skills />
        <Projects />
        <Education />
      </div>
    </main>

    <style>
      .container {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      main {
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 80%;
      }

      #content {
        width: 80%;
      }

      #content section {
        width: 100%;
        /* height: 100vh; */
        margin: 30px 0;
      }
    </style>
  </div>
</Layout>
