---
import Certificates from "../components/Certificates.astro";
import Education from "../components/Education.astro";
import HeroCard from "../components/HeroCard.astro";
import HeroHeading from "../components/HeroHeading.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="container">
    <main>
      <HeroCard />
      <div id="content">
        <HeroHeading />
        <section id="about">
          <h2>O mně</h2>
          <p>
            Jsem sudent IT s dlouhodobým zájmem o webový vývoj, který sahá až do
            roku 2018. Úplně poprvé jsem se k vytváření webových stránek dostal
            na základní škole. Naplno mě ale webový vývoj začal bavit až na
            střední škole, kde jsem se naučil základy HTML, CSS a JavaScriptu a
            PHP. Mimo to jsem se ale naučil např. C#. V maturitním ročníku jsem
            své znalosti rozšířil o framework Symfony, ve kterém jsem vytvořil
            svou maturitní práci. V současné době se věnuji především frontendu
            a Reactu, ale nebojím se objevovat i další technologie.
          </p>
          <p>
            Jsem komunikativní a rád pracuji v týmu. Nemám problém převzít
            odpovědnost, pokud je to potřeba. Mám zkušenosti s vedením týmu a
            organizováním projektů, v minulosti jsem totiž vedl spolek s více
            než 200 členy.
          </p>
        </section>
        <Skills />
        <Projects />
        <Education />
        <Certificates />
      </div>
    </main>

    <style>
      .container {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      main {
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 80%;
      }

      #content {
        width: 80%;
      }

      #content section {
        width: 100%;
        /* height: 100vh; */
        margin: 30px 0;
      }
    </style>
  </div>
</Layout>
