<section>
  <h1>Zdravím, tady <strong>Martin</strong></h1>
  <p class="big-p">
    Jsem student IT, věnuji se softwarovému inženýrství a webovému vývoji
  </p>
  <div class="cta">
    <a href="#about" class="btn">Zjistit více</a>
    <a href="#projects" class="btn">Moje projekty</a>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .cta {
    display: flex;
    margin-top: 18px;
    gap: 1rem;
  }

  .cta .btn {
    padding: 0.5rem 1rem;
    background: #541211;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
</style>
