<section>
  <h1>Zdravím, tady <strong>Martin</strong></h1>
  <p class="big-p">
    Jsem student IT, věnuji se softwarovému inženýrství a webovému vývoji
  </p>
  <div class="cta">
    <a href="#about" class="btn">Zjistit více</a>
    <a href="../assets/ruzek-cv.pdf" class="btn-outline">Zobrazit CV</a>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .cta {
    display: flex;
    margin-top: 18px;
    gap: 1rem;
  }

  .cta .btn {
    padding: 0.5rem 1rem;
    background: #260e00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta .btn:hover {
    background: #551f00;
  }

  .cta .btn-outline {
    padding: 0.5rem 1rem;
    background: transparent;
    border: 2px solid #260e00;
    color: #260e00;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta .btn-outline:hover {
    background: #260e00;
    color: white;
  }

  @media (max-width: 992px) {
    section {
      height: auto; /* Let content define height */
      min-height: 50vh; /* Or a smaller fixed vh, or use padding */
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center; /* Optional: center heading text on mobile */
    }

    p {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    .cta {
      justify-content: center;
      width: 100%;
    }
  }
</style>
