---

---

<div id="wrapper">
  <div style="text-align: center; margin-top: 50px;">
    <h1>🚧 Work In Progress 🚧</h1>
    <p>Na portfoliu už se pracuje</p>
  </div>
</div>

<style>
  h1 {
    font-size: 2.5em;
    color: #0b0b45;
  }

  p {
    font-size: 1.2em;
    color: #555;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 450px) {
    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.8em;
    }
  }
</style>
